.cp-nombre{
    font-size: 16px;
    margin-top: -5px;
    font-weight: bold;
    text-align: center;
}

.cp-nombre p{
    margin-top: -10px;
}

.informacion{
    margin-top: 50px;
}

.informacion p{
    margin-top: -5px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.informacion span{
    font-weight: normal;
    padding-left: 36px;
}

.informacion-1{
    width: 70%;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.informacion-2{
    width: 29%;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th{
    padding: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 9px;
}

table td{
    padding: 4px;
    font-size: 9px;
    text-align: center;
}

.wrap-cp{
    width:99%;
    text-align: justify;
}

.firma{
    font-size: 14px;
    margin-top: 40px;
}

.firma span{
    font-weight: bold;
}


