table{
    width: 100%;
    border-collapse: collapse;
}

table th{
    font-size:11px;
    text-transform: uppercase;
}

table td{
    font-size:11px;
    padding: 5px;
    text-align: justify;
}

table span{
    font-size:9px;
}

