main {
    background: url(../assets/img/fondo-login.jpg) no-repeat center;
    /* opacity: 0.8; */
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;


}

 img
{
    max-width: 100%;
}

.fixed-bottom{
    opacity: 0.7;
}



