
.fondo-2
{
    position: relative;
}

.container-1
{
    width: 100%;
    position: absolute;
    top: 0%;
}

.container-1 .row
{
    margin: auto;
}

.c-sidebar-brand-full img
{
    margin-top: -15%;
    width: 88%;
}



