/*ESTILOS GENERALES PARA REPORTES*/
body{
  font-family: sans-serif;
}
@page {
  margin: 160px 35px;
}
header {
  position: fixed;
  left: 0px;
  top: -130px;
  right: 0px;
  height: 100px;
  background-color: #4A9C40;
  text-align: center;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: wrap;
}

.logo img{
  margin-top: 5px;
  margin-left: 5px;
  width: 105px;
  height: 120px;
  float: left;
}

.title{
  padding-top: 25px;
}

header h1{
  margin: 10px 0;
}
header h3{
  margin: 0 0 10px 0;
}

header h4{
  margin: 0 0 10px 0;
}

footer {
  position: fixed;
  left: 0px;
  bottom: -105px;
  right: 0px;
  height: 20px;
  border-top: 2px solid #4A9C40;
}
/* footer .page:after {
  content: counter(page);
} */
footer table {
  width: 100%;
}
footer p {
  text-align: right;
  font-size: 13px;
  color: #424242;
}
footer .izq {
  text-align: left;
  font-size: 13px;
  color: #424242;
}

footer .drcho {
  text-align: right;
  margin-right: -5px;
  font-size: 13px;
  color: #424242;
}

/*ESTILOS PARA TABLAS*/
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: center;
  font-size:14px;
  white-space: nowrap;
  overflow-x: auto;
}

td {
  text-align: left;
  padding-left: 5px;
  font-size:12px;
  white-space: nowrap;
  overflow-x: auto;
}

.content
{
  margin-top: -25px;
  margin-bottom: -2cm;
}

/*ESTILOS MATRICULAS*/

.wrap-m
{
  width:99%;
  white-space: pre-wrap;
  text-align: justify;
  height:auto;
}

/*ESTILOS PASE DE PERIODO*/

.wrap-p
{
  width:99%;
  white-space: pre-wrap;
  text-align: justify;
  /* border:1px solid tomato; */
  height:auto;
}

.text-1{
  font-size: 16px;
  margin-top: 15px;
  text-align: justify;
}

.text-2{
  font-size: 16px;
  margin-top: 15px;
  text-align: right;
}

/*ESTILOS HORARIOS*/
.wrap-h
{
  width:99%;
  white-space: pre-wrap;
  text-align: justify;
  height:auto;
}

.wrap-h1
{
  width:99%;
  white-space: pre-wrap;
  text-align: justify;
  height:auto;
}

/*ESTILOS CONSOLIDADO*/
.wrap-c
{
  width:99%;
  white-space: pre-wrap;
  text-align: justify;
  border:1px solid tomato;
  height:auto;
}

/*RECORD ACADEMICO*/
.record
{
  margin-top: 20px;
  width:100%;
  position: absolute;
}
/* .record-items
{
  max-width: 345px;
  position:relative;
  margin-top: 15px;
  display: inline-block;
  position: relative;
  text-align: center;
} */

.record-items b
{
  margin: 5px 0px 0px 0px;
  font-size: 13px;
}

.record-items p
{
  margin: 5px 0px 5px 0px;
  font-weight: bold;
  font-size: 11px;
  text-align: left;
}






