@page {
    margin: 35px 45px;
    font-size: 1em;
}

body {
    font-family: sans-serif;
    margin-top: 3.5cm;
    margin-bottom: 3cm;
}

header {
    position: fixed;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 2.7cm;
    background-color: #4A9C40;
    color: white;
    text-align: center;
    line-height: 30px;
}

.logo{
    width: 12%;
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
}

.logo img{
    width: 105px;
    height: 120px;
  }

.title{
    margin-top: 8px;
    width: 72%;
    display: inline-block;
}

  .title p{
    margin-top: -25px;
}

.logo-carrera{
    margin-top: -7px;
    margin-right: 3px;
    width: 12%;
    display: inline-block;
}

.logo-carrera img{
    width: 90px;
}

footer {
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 2cm;
    border-top: 2px solid #4A9C40;
    color: white;
    text-align: center;
    line-height: 35px;
}

footer table {
    margin-top: -10px;
    width: 100%;
}

footer p {
  font-size: 13px;
  margin-top: -5px;
  color: #424242;
}
footer .izq {
  text-align: left;
  font-size: 13px;
  color: #424242;
}

footer .izq-1 {
  text-align: left;
  font-size: 13px;
  margin-top: -25px;
  color: #424242;
}

footer .drcho {
  text-align: right;
  margin-top: 5px;
  margin-right: -5px;
  font-size: 13px;
  color: #424242;
}







